*.opt
*.pbd
*.pbp
*.prn
*.dbg
*.bak
*.exe
*.sr*
*.zip
*.rar
*.bak
*.sql
*.pbx
*.xls*
*.env
*.log
*.doc*
*.txt
*.dll
*.xml
*.config
*.pdf
*.lnk
*.xps
*.rtf
*.db
*.reg
/anchor/*
/casos hacienda/*
/casr/*
/confirmaciones/*
/cu/*
/datoshaciendacoc/*
/documentos/*
/estados/*
/eva/*
/logs/*
/respaldo/*
/logs/*
*.p12
/hacienda/*
/imagenes/*
/meza/*
/nueva carpeta/*
/nueva carpeta(2)/*
/nuevo_respaldo/*
/pdf/*
/repo/*
/respaldo/*
/sistemas/*
/tmpwebService/*
/transferencias/*

